body{
    background: linear-gradient(202deg, #cf8c28, #b6b248, #69ba58, #48a3be, #9d44b9, #d84f4f);
    background-size: 19000% 100%;
    animation: AnimationName 28s ease infinite;
}   @keyframes AnimationName {
    0%{background-position:71% 0%}
    50%{background-position:30% 100%}
    100%{background-position:71% 0%}
}

.intro {
    font-size: 20px;
    margin-left: 2%;
    margin-bottom: 5%;
}

.bigbody {
    padding: 10px;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    justify-content: center;
    row-gap: 3%;
    column-gap: 5%;
}

.col {
    display: inline-block; 
    justify-self: center;
    padding: 0px 10px;
}

.img {
    width: 100%;
    height: 85%;
    object-fit: contain;
}

.text {
    font-size: 20px;
    text-align: center;
}

#content {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 150px;
}

#footer {
    background-color: black;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

p {
    color: #fff;
    overflow: hidden;
}
